@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{

    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url("../../Background.webp");
    background-attachment: fixed;
    background-size: 100%;
    height: 95%;
}

#lobby {
    background:  rgba(42,178,217, .6);    
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
}

#lobby h1 {
    text-align: center;
}


#room {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(221,71,73), rgb(42,178,217) );
    z-index: 0;
    padding: 10px;
    box-sizing: border-box;
}

#gameLog {
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 350px;
    border: 1px solid gray;
    z-index: 1;
}

#gameLog ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#gameLog ul li {
    margin: 5px;
}

#lobbyErrorMessage {
    color: red;
    font-weight: bold;
}

#startGameButton {
    display: none;
}

#playersZones {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

#playersZones .player {
    flex-grow: 1;
    margin: 10px;
    text-align: center;	
	border: 1px;
	border-style: solid;
}


#playerZone {
   position: absolute;
    bottom: 10px;
    width: calc(100% - 240px);
    right: 240px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:rgba(57, 64, 77, .6);
    padding: 15px;
}

#playerZone .playerData {
    flex: 0.5;
    padding: 20px;
}

#playerZone .playerRow {
    flex: 1;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.card {
    width: 100px;
    margin: 5px;
    overflow: hidden;
    border-radius: 6px;

}
.card img {
    max-width: 100%;
}

.card:hover{
    transform: scale(2.8);
}

#playerZone .card:hover{
    margin-bottom: -100px;
}

.card.selected {
    border: 2px solid aqua;
    transform: scale(1.8);
}