@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    background:  rgb(42,178,217);
    font-family: 'Roboto', sans-serif;

    padding: 0;
    margin: 0;
    height: 100%;
}

#lobby {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 20px;
}

#lobby h1 {
    text-align: center;
}


#room {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(221,71,73), rgb(42,178,217) );
    z-index: 0;
}

#gameLog {
    position: absolute;
    right: -240px;
    bottom: 10px;
    width: 100%;
    max-width: 240px;
    height: 100%;
    max-height: 350px;
    border: 1px solid gray;
    z-index: 1;
}

#gameLog ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#gameLog ul li {
    margin: 5px;
}

#lobbyErrorMessage {
    color: red;
    font-weight: bold;
}

#startGameButton {
    display: none;
}

#playersZones {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

#playersZones .player {
    flex-grow: 1;
    margin: 15px;
    text-align: center;	
	border: 1px;
	border-style: solid;
}


#playerZone {
   position: absolute;
    bottom: 10px;
    margin-right: 240px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:rgba(57, 64, 77, .6);
    padding: 15px;
}



#playerZone .playerData {
    flex: 0.5;
    padding: 20px;
}

#playerZone .playerRow {
    flex: 1;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255, .2);
    border-radius: 5px;
}

.card img{
    max-width:80px;
    margin: 5px;
    padding: 5px;
    
}

.card img:hover{
    transform: scale(2.8); 
}